{% extends 'starter-page.html' %}
{% load static %}
{% block body %}


    <!-- Contact Section -->
    <section id="contact" class="contact section" style="align-items: center">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Contact us</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 ">
            <div class="row gy-4">

              <div class="col-lg-12">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>30100, Eldoret, Kenya</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127669.09351939058!2d35.18680932723567!3d0.5117559707656124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x178101ae37f9f535%3A0xe2db337df0fc0820!2sEldoret!5e0!3m2!1sen!2ske!4v1742892183917!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+2547281336295</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                    <a href="mailto:georgeklangat@gmail.com?subject=Hello&body=Hi Mr Langat, I wanted to contact you about..."><h3>Email Us</h3></a>
                </div>
              </div><!-- End Info Item -->

                <!-- whatsapp info -->
                <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-whatsapp"></i>
                    <a href="https://wa.me/254728133629" class="whatsapp" target="_blank"> <h3>Whatsapp Us</h3></a>
                </div>
              </div><!-- End Info Item -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Contact Section -->

{% endblock %}